:root {
  --main-bg: #ffffff;
  --secondary-bg: #f5f5f5;

  --main-font: "Montserrat", sans-serif;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;

  --regular-font-size: 14px;
  --regular-line-height: 24px;

  --average-line-height: 21.94px;

  --medium-font-size: 18px;
  --medium-line-height: 28px;

  --extra-line-height: 41px;

  --main-text-color: #333333;
  --white-text: #ffffff;
  --faded-text: #ffffffb2;

  --dark-bg: #194d44;
  --element-color: #5bc8af;
  --tip-bg: #297c6b;
  --faded-color: #eaeaea;
  --warning-color: #ff7777;
  --footer-text-color: #757575;

  --btn-radius: 4px;
  --btn-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
}

/* common classes */
.extra-line-height {
  line-height: var(--extra-line-height);
}

.bold-font-weight {
  font-weight: var(--bold-font-weight) !important;
}

.regular-font {
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
}

.regular-italic {
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  font-style: italic;
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
}

.bold-font {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--medium-font-size);
  line-height: var(--average-line-height);
}

.dark-color {
  color: var(--main-text-color);
}

.light-color {
  color: var(--white-text) !important;
}

.color-green {
  color: var(--element-color);
}

.stroke {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.primary-button {
  background-color: var(--element-color);
  padding: 16px 50px 16px 49px;
  border-radius: var(--btn-radius);
  transition: transform 0.3s;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  color: var(--white-text);
  border: none;
  cursor: pointer;
}

.primary-button-pressed {
  background-color: #35bb9c;
}

.primary-button > span {
  margin-left: 8px;
}

.primary-button:hover,
.secondary-button:hover {
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}

.secondary-button {
  border: 2px solid var(--element-color);
  padding: 17px 29px 17px 28px;
  border-radius: var(--btn-radius);
  box-shadow: var(--btn-shadow);
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;
}

.align-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-8px {
  margin-bottom: 8px;
}

.full-width {
  width: 100%;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.nav__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 22px;
}

.nav__logo__img {
  margin-right: 10px;
}

.nav__menu {
  /* flex: 1; */
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 31px;
}

.nav__link {
  color: var(--faded-text);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--white-text);
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  text-decoration: underline;
  color: var(--white-text);
  font-weight: var(--bold-font-weight);
}

.title {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: 64px;
  line-height: 72px;
  color: var(--white-text);
}

.outlined-text {
  color: transparent !important;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1),
    -1px -1px 0 rgba(255, 255, 255, 1), 1px -1px 0 rgba(255, 255, 255, 1),
    -1px 1px 0 rgba(255, 255, 255, 1), 1px 1px 0 rgba(255, 255, 255, 1);
}

.border-right {
  border: 1px solid #ffffff80;
  margin: 4px 15px 4px 0;
}

.banner-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 66px;
}

.banner-description {
  color: var(--white-text);
  max-width: 601px;
}

.form-wrapper {
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
  height: 449px;
  width: 472px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us {
  font-weight: var(--bold-font-weight);
  font-size: 28px;
  line-height: 28px;
  color: var(--white-text);
  margin-top: 51px;
}

.vision-block {
  padding: 130px 128px;
  background-color: var(--secondary-bg);
}

.vision-images-wrapper {
  display: flex;
  /* justify-content: center; */
  gap: 36px;
  margin-top: 80px;
}

.vision-img {
  /* width: 370px; */
  border-radius: 8px;
}

.main-heading-wrapper {
  margin-top: 63px;
}

.main-heading {
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 46px;
}

.vision-description-wrapper {
  display: flex;
  gap: 36px;
  margin-top: 32px;
}

.vision-description {
  max-width: 371px;
}

.vision-btn {
  margin-top: 10px;
}

/* carousel */
.slider-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  position: relative;
}

.slider {
  width: 100%;
  max-width: 1000px;
  height: 270px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 8px;
}

.slide {
  width: 100%;
  max-width: 1000px;
  height: 270px;
  position: absolute;
  transition: all 0.5s;
  display: flex;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 35px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}

.slide-description {
  background: #194d44;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 62px 65px 45px 65px;
}

#quote {
  position: absolute;
  top: 38px;
  right: 65px;
}

.name {
  font-size: 24px;
  font-weight: var(--bold-font-weight);
  line-height: 34px;
  color: var(--white-text);
  margin-bottom: 16px;
}

.btn {
  position: absolute;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover path {
  fill: var(--element-color);
}

.btn-prev {
  top: 45%;
  left: 110px;
}

.btn-next {
  top: 45%;
  right: 110px;
}

.indicators {
  position: absolute;
  bottom: -64px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.indicator {
  width: 16px;
  height: 16px;
  background-color: var(--faded-color);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--element-color);
}

/* services */
.services-block {
  padding: 130px 128px;
}

.service-description-wrapper {
  display: flex;
  gap: 36px;
}

.service-description {
  width: 371px;
}

.service-tile-wrapper {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  margin-top: 36px;
}

.service-tile {
  width: 370px;
  height: 96px;
  border-radius: var(--btn-radius);
  border: 2px solid var(--element-color);
  text-align: center;
  color: var(--main-text-color);
  font-size: var(--medium-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--medium-line-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.service-tile:hover .info-icon {
  visibility: visible;
}

.service-tile:hover {
  color: var(--element-color);
}

.info-icon {
  position: absolute;
  right: 48px;
  visibility: hidden;
  width: 30px;
  height: 30px;
  fill: var(--element-color);
}

.service-tile > div {
  word-wrap: break-word;
  max-width: 299px;
}

.tooltip-wrapper {
  position: absolute;
  bottom: -95px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.service-tile > svg:hover + .tooltip-wrapper {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  width: 300px;
  height: 84px;
  background: var(--tip-bg);
  border-radius: 8px;
  position: relative;
  font-size: 13px;
  font-weight: var(--regular-font-weight);
  line-height: 20px;
  color: var(--white-text);
  font-style: normal;
  padding: 12px 16px;
}

.tip {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 9px solid var(--tip-bg);
  position: absolute;
  top: -9px;
  left: 48%;
}

/* video block */
.video-wrapper {
  display: flex;
  position: relative;
}

.video-container {
  /* position: relative; */
}

.main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.svg-container {
  position: absolute;
  top: 45%;
  right: 30%;
  cursor: pointer;
}

.svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.svg-wrapper .circle-1 {
  transition: cx 0.5s, cy 0.5s, r 0.5s;
}

.svg-wrapper:hover .circle-1 {
  cx: 114;
  cy: 114;
  r: 114;
}

.svg-wrapper .circle-2 {
  transition: cx 0.5s, cy 0.5s, r 0.5s;
}

.svg-wrapper:hover .circle-2 {
  cx: 114;
  cy: 114;
  r: 113;
}

.svg-wrapper .circle-3 {
  transition: cx 0.5s, cy 0.5s, r 0.5s;
}

.svg-wrapper:hover .circle-3 {
  cx: 114;
  cy: 114;
  r: 76.0751;
}

.svg-wrapper .path {
  transition: d 0.5s;
}

.svg-wrapper:hover .path {
  d: path(
    "M134.619 110.354C137.286 111.894 137.286 115.743 134.619 117.283L103.494 135.253C100.827 136.792 97.4939 134.868 97.4939 131.789L97.4939 95.8482C97.4939 92.769 100.827 90.8445 103.494 92.3841L134.619 110.354Z"
  );
}

.video-description {
  position: absolute;
  bottom: 80px;
  left: 128px;
  z-index: 1002;
}

.video-title {
  font-size: 44px;
  font-weight: var(--bold-font-weight);
  line-height: 52px;
  font-style: normal;
  color: var(--white-text);
}

.video-points-wrapper {
  margin-top: 48px;
}

.video-point {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.check-icon {
  margin-top: 6px;
  width: 18px;
  height: 18px;
}

.point-header {
  font-size: 24px;
  font-weight: var(--bold-font-weight);
  line-height: 32px;
  color: var(--white-text);
  margin-bottom: 8px;
}

.point-description {
  font-size: var(--medium-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--medium-line-height);
  color: var(--faded-color);
  margin-bottom: 22px;
  max-width: 482px;
}

.watermark {
  position: absolute;
  right: 36px;
  bottom: 36px;
}

.footer {
  padding: 38px 128px;
  background-color: var(--faded-color);
}

.footer-items-container {
  display: flex;
  justify-content: space-between;
}

.privacy-policy,
.footer-option {
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight) !important;
  color: var(--footer-text-color) !important;
}

.footer-right {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer-right li {
  border-right: 1px solid var(--footer-text-color);
  padding-right: 16px;
  line-height: 12px !important;
}

.footer-right li:nth-child(3) {
  border: none;
}

.curve-overlay {
  position: absolute;
  z-index: 1000;
}

.gradient-wrapper {
  position: relative;
  background-image: url(./assets/mainbg.png);
}

.grey-curve {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 0;
}

.white-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* form styles */
.form-group {
  margin: 34px 28px 0 28px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-top: -5px;
}

.error-wrapper {
  position: absolute;
  top: 60px;
  z-index: 100;
  width: 200px;
  display: none;
}

.error-message {
  color: var(--white-text);
  font-size: 13px;
  font-style: normal;
  font-weight: var(--regular-font-weight);
  line-height: 20px;
  background: var(--warning-color);
  padding: 12px 16px;
  border-radius: 8px;
}

.error-tip {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 9px solid var(--warning-color);
  position: absolute;
  top: -8px;
  left: 48%;
}

.input-wrapper,
.select-wrapper {
  position: relative;
}

.form-group input {
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.04);
  width: 200px;
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  padding: 14px 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
}
.form-group label {
  position: absolute;
  top: 45%;
  left: 0.5rem;
  padding: 0 4px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  color: rgba(255, 255, 255, 0.7);
}
.form-group input:is(:focus, :valid) {
  border: 1px solid var(--white-text);
}
.input-wrapper input:is(:focus, :valid) + label {
  top: 4px;
  padding: 0 4px;
  background: #2a7d6c;
  font-size: 13px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  color: rgba(255, 255, 255, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  color: rgba(255, 255, 255, 0.7);
}

.first-name,
.email {
  margin-right: 16px;
  margin-bottom: 16px;
}

.last-name,
.company {
  margin-bottom: 16px;
}

.form-group select {
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.04);
  width: 416px;
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  padding: 14px 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▾";
  font-size: 1rem;
  top: 14px;
  right: 16px;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
}

select::placeholder {
  font-family: var(--main-font) !important;
  font-size: 16px;
  font-weight: var(--regular-font-weight);
  color: rgba(255, 255, 255, 0.7);
}

.submit-btn {
  margin-top: 51px;
  margin-left: 98px;
}
